<div
  class="flex justify-between p-3 border hover:cursor-pointer hover:bg-gray-50"
  (click)="toggleComplete()"
>
  <div
    class="flex items-center gap-3 text-lg"
    [ngClass]="{ 'text-gray-500 line-through': todoItem.isCompleted }"
  >
    <i
      class="bi"
      [ngClass]="{
        'bi-check-circle': todoItem.isCompleted,
        'bi-circle': !todoItem.isCompleted
      }"
    >
    </i>

    <p>
      {{ todoItem.name }}
    </p>
  </div>

  <button
    class="w-8 h-8 text-red-500 rounded-full hover:bg-red-100"
    title="Delete"
    (click)="remove()"
  >
    <i class="bi bi-trash"></i>
  </button>
</div>
